  fieldset {
    border: 1px solid #333;
    margin-bottom: 50px;
    background: #dff0ff;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .flex-container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .flex-container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .flex-container3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .comment {
    margin-left: 205px;
  }

  div {
    margin-bottom: 25px;
  }

  .item {
    width: 100%;
  }

  h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: bisque;
  }

  legend {
    font-size: 25px;
    text-align: center;
    background-color: gold;

  }

  #output li {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  canvas {
    background-color: aquamarine;
  }